
.question-list > ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.question-list > ul > li {
    padding: 1em;
    border: 1px solid #000;
}

.question-list > ul > li:hover {
    background-color: #ddd;
}